.login-container {
  max-width: 1280px;
  margin: 0 auto;
}

.login-form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  border-radius: 8px;
}

.login-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-form .input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-form .input-group input {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--grey-color);
}

.login-form button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--light-color);
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--light-color);
  color: var(--accent-color);
}

.login-form .error {
  margin-top: 0.25rem;
  color: red;
}
